@import "variables.scss";

.btn {
  text-transform: uppercase;
  font-size: 19px;
  border-radius: 8px;
  padding: 10px 35px;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-btn {
  background: $blue;
  color: white;
  box-shadow: 6px 8px 15px 1px rgba(27, 139, 249, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.white-btn {
  background: white;
  color: $blue;
  box-shadow: 6px 8px 15px 1px rgba(27, 139, 249, 0.4);
  transition: box-shadow 0.3s ease-in-out;
}

.disabled {
  cursor: not-allowed;
}

.avaliable {
  cursor: pointer;
}