@import "./variables.scss";
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Montserrat:500&display=swap");

html,
* {
  font: 16px/1.2 "Lato", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: $darkGray;
}

h1 {
  font-size: 2.6em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.1em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.8em;
}

p {
  margin: 0;
}

a {
  font-weight: bold;
  color: $blue;
  text-decoration: none;
  padding: 0 4px;

  &:hover {
    text-decoration: underline;
  }
}