@import '../../../styles/styles.scss';

.game-output-container {
    background: white;
    color: $darkGray;
    border-radius: 8px;
    padding: 1em;

    .speech-bubble {
        position: relative;
        background: $gray;
        border-radius: .4em;
        width: 70%;
        margin: 1em auto;
        padding: 1.3em;
    }

    .speech-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        border: 1.75em solid transparent;
        border-left-color: $gray;
        border-right: 0;
        border-bottom: 0;
        margin-top: -0.875em;
        margin-right: -1.75em;
    }

    section {
        display: inline-block;
        vertical-align: top;

        &:nth-child(1) {
            width: 70%;
        }

        &:nth-child(2) {
            width: 30%;

            img {
                width: 100%;
            }
        }
    }
}