@import "../../styles/styles.scss";

.game-container {
  h2 {
    color: white;
    margin: 0;
    font-size: 1.6em;
    padding: .2em 0;
  }

  p {
    font-size: 1.1em;
  }

  header,
  main {
    display: inline-block;
    vertical-align: top;
    width: 50%;
  }

  header {
    text-align: left;
  }

  .game {
    padding: 2em;
    background: $blue;
    color: white;
    width: 76%;
    margin: 2em auto;
    border-radius: 8px;

    .numbers-count-container {
      margin: 1em 0;
    }

    .game-buttons-container,
    .user-input-container {

      .btn,
      input {
        margin: .5em .5em .5em 0;
        font-size: 1em;
      }
    }
  }
}

@include bp(mobile) {
  .game-container {

    header,
    main {
      display: block;
      width: 100%;
    }
  }

  .game-output-container {
    padding: .2em;

    section {
      &:nth-child(1) {
        width: 60%;
      }

      &:nth-child(2) {
        width: 40%;
      }
    }
  }
}